.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2rem 6%;
    background-color: yellowgreen;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }

  .logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
  }

  .navbar{
    width: 50%;
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
    font-size: 2rem;
    font-weight: 500;
    gap: 3rem;
  }

  .link{
    color: var(--text-color)
  }

  .link:hover{
    color: var(--main-color);
  }