* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', 'sans-serif';
}

:root{
  --bg-color:#E9CEA9;
  --second-bg-color:#F1DEBD;
  --text-color:#453E34;
  --main-color:#A0673C;
}

html{
  font-size: 62.5%;
  overflow-x: 0;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

